@page "/whmapper"
@using Blazor.Diagrams.Core;
@using Blazor.Diagrams.Core.Geometry;
@using Blazor.Diagrams.Core.Models;
@using Blazor.Diagrams.Components;
@using Blazor.Diagrams.Algorithms;





<MudGrid Class="@(_loading ? "invisible" : "visible")">
    <MudItem xs="12">
        <MudDynamicTabs Elevation="4" ApplyEffectsToContainer="true" @bind-ActivePanelIndex="_selectedWHMapIndex" Rounded="true" Border="true" Class="mt-8" PanelClass="pa-6">
            @foreach (var item in WHMaps)
            {
                <div style="width:99vw; height: 50vh" Class="Rounded">
                    <MudTabPanel Text="@item.Name" Tag="@item.Id">
                        <CascadingValue Value="Diagram">
                            <DiagramCanvas></DiagramCanvas>
                        </CascadingValue>
                    </MudTabPanel>
                </div>
            }
        </MudDynamicTabs>
    </MudItem>
    <MudItem xs="3">
        <WHMapper.Pages.Mapper.SystemInfos.Overview CurrentSystemNode="@_selectedSystemNode" />
    </MudItem>
    <MudItem xs="9">
        <WHMapper.Pages.Mapper.Signatures.Overview CurrentSystemNode="@_selectedSystemNode" />
    </MudItem>
</MudGrid>
<MudOverlay @bind-Visible="@(_loading)" DarkBackground="true" ZIndex="9999" AutoClose="false">
    <MudProgressCircular Color="Color.Secondary" Indeterminate="@_loading" Size="MudBlazor.Size.Large" />
</MudOverlay>
