@page "/whmapper"

@using Blazor.Diagrams.Core;
@using Blazor.Diagrams.Core.Geometry;
@using Blazor.Diagrams.Core.Models;
@using Blazor.Diagrams.Components;
@using Blazor.Diagrams.Algorithms;
@using WHMapper.Models.Db.Enums;
@using Blazor.Diagrams.Components.Widgets; 



<MudPaper class="d-flex flex-column flex-grow-1 gap-2" Width="100%" Height="calc(100vh - var(--mud-appbar-height) + var(--mud-appbar-height)/4);" hidden="@(_loading)">
    <MudPaper Class="flex-1 d-flex pa-1" Width="100%" Outlined="true" Square="true">
        <!-- map zone-->
        <MudMenu @ref="ClickRightMenu" PositionAtCursor="true" ActivationEvent="@MouseEvent.RightClick" Dense="true" class="mud-height-full mud-width-full">
            <ActivatorContent>
                @if (!FeatureFlag.DISABLE_MULTI_MAP())
                {
                    <MudTabs Elevation="4" ApplyEffectsToContainer="true" @bind-ActivePanelIndex="_selectedWHMapIndex" Rounded="true" Border="true" style="height: inherit; width: inherit;" Class="pa-5">
                        <ChildContent>
                            @foreach (var item in WHMaps)
                            {
                                <div style="width: inherit; height: inherit" Class="Rounded">
                                    <MudTabPanel Text="@item.Name" Tag="@item.Id">
                                        <CascadingValue Value="_blazorDiagram" IsFixed="true">
                                            <DiagramCanvas></DiagramCanvas>
                                        </CascadingValue>
                                    </MudTabPanel>
                                </div>
                            }
                        </ChildContent>
                        <Header Context="tabs_context">
                                <AuthorizeView Policy="Admin">
                                    <MudButtonGroup>
                                        <MudTooltip Text="Add new map">
                                            <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="AddNewMap" />
                                        </MudTooltip>
                                    </MudButtonGroup>
                                </AuthorizeView>
                        </Header>
                    </MudTabs>
                }
                else
                {
                    <div Class="mud-height-full mud-width-full Rounded">
                        <CascadingValue Value="_blazorDiagram">
                            <DiagramCanvas></DiagramCanvas>
                        </CascadingValue>
                    </div>
                }
            </ActivatorContent>
            <ChildContent>
                @if (_selectedSystemLink == null && _selectedSystemNode == null)
                {
                    <MudMenuItem OnClick="OpenSearchAndAddDialog">Add System</MudMenuItem>
                }

                @if (_selectedSystemLink != null)
                {
                    <MudMenuItem OnClick="@(() => ToggleSlectedSystemLinkEOL())" Disabled="@(_selectedSystemLink == null)">Toggle EOL</MudMenuItem>
                    <div class="d-flex flex-column">
                        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" FullWidth="true" Disabled="@(_selectedSystemLink == null)"
                                EndIcon="@Icons.Material.Filled.ArrowRight" Label="Status" Class="mx-2" Dense="true" ButtonClass="mud-typography mud-typography-body2 rounded-0 py-2 px-4">
                            <ChildContent>
                                <MudMenuItem OnClick="@(() => SetSelectedSystemLinkStatus(SystemLinkMassStatus.Normal))">Normal</MudMenuItem>
                                <MudMenuItem OnClick="@(() => SetSelectedSystemLinkStatus(SystemLinkMassStatus.Critical))">Critical</MudMenuItem>
                                <MudMenuItem OnClick="@(() => SetSelectedSystemLinkStatus(SystemLinkMassStatus.Verge))">Verge</MudMenuItem>
                            </ChildContent>
                        </MudMenu>

                        <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" FullWidth="true" Disabled="@(_selectedSystemLink == null)"
                                EndIcon="@Icons.Material.Filled.ArrowRight" Label="Size" Class="mx-2" Dense="true" ButtonClass="mud-typography mud-typography-body2 rounded-0 py-2 px-4">
                            <ChildContent>
                                <MudMenuItem OnClick="@(() => SetSelectedSystemLinkSize(SystemLinkSize.Small))">Small</MudMenuItem>
                                <MudMenuItem OnClick="@(() => SetSelectedSystemLinkSize(SystemLinkSize.Medium))">Medium</MudMenuItem>
                                <MudMenuItem OnClick="@(() => SetSelectedSystemLinkSize(SystemLinkSize.Large))">Large</MudMenuItem>
                                <MudMenuItem OnClick="@(() => SetSelectedSystemLinkSize(SystemLinkSize.XLarge))">XLarge</MudMenuItem>
                            </ChildContent>
                        </MudMenu>
                    </div>
                }

            </ChildContent>
        </MudMenu>
    </MudPaper>
    <!-- tools zone-->
    <MudPaper Class="flex-none" Width="100%" Height="325px">
        <MudStack Row="true" Justify="Justify.Center" class="mud-height-full mud-width-full">
            <MudHidden Breakpoint="Breakpoint.MdAndDown">
                <WHMapper.Pages.Mapper.SystemInfos.Overview CurrentSystemNode="@_selectedSystemNode"/>
            </MudHidden>
            <WHMapper.Pages.Mapper.Signatures.Overview @ref="WHSignaturesView" CurrentMapId="@_selectedWHMap?.Id" CurrentSystemNodeId="@_selectedSystemNode?.IdWH" NotificationHub="@_hubConnection" />
            <MudHidden Breakpoint="Breakpoint.MdAndDown">
                <WHMapper.Pages.Mapper.RoutePlanner.Overview CurrentSystemNode="@_selectedSystemNode" CurrentLinks="@_blazorDiagram.Links"></WHMapper.Pages.Mapper.RoutePlanner.Overview>
            </MudHidden>
        </MudStack>
    </MudPaper>
</MudPaper>
@if(_loading)
{
    <MudOverlay @bind-Visible="@(_loading)" DarkBackground="true" ZIndex="9999" AutoClose="false">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="@_loading" Size="MudBlazor.Size.Large" />
    </MudOverlay>
}