@using Blazor.Diagrams.Components.Renderers;
@using WHMapper.Models.Custom.Node;
@using WHMapper.Models.DTO.EveMapper.Enums;

<MudMenu @ref="ClickRightMenu" PositionAtCursor="true" ActivationEvent="@MouseEvent.RightClick" Dense="true">
    <ActivatorContent>
        <MudCard Outlined="true" Style="@systemStyle" Class="_class">
            <MudCardHeader Class="mb-n5">
                <CardHeaderAvatar>
                    <MudBadge Origin="Origin.TopRight" Overlap="true" Content=@Node.NameExtension Visible=@((Node.NameExtension!=null) ? true : false) Bordered="true" Color="Color.Dark">
                        <MudAvatar class="mt-1" Style="@($"color:{_systemColor}; border-color:{_systemColor}; font-weight:bold;")" Size="Size.Small" Variant="Variant.Outlined">@Node.SystemType.ToDescriptionString()</MudAvatar>
                    </MudBadge>
                </CardHeaderAvatar>
                <CardHeaderContent>
                    <MudText class="ml-n1 pr-2 mt-1" Typo="Typo.body2" Style="font-weight:bold;">@Node.Name</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    @if (Locked)
                    {
                        <MudIcon Icon="@Icons.Material.Sharp.Lock" DisableElevation="true" Size="Size.Small" Style="margin-top:-3px" />
                    }
                    @if (Node != null && Node.Effect != WHMapper.Models.DTO.EveMapper.Enums.WHEffect.None)
                    {
                        <MudTooltip Text="@Node.Effect.ToString()" Arrow="true" Placement="Placement.Bottom">
                            <ChildContent>
                                <MudIcon Icon="@Icons.Material.Filled.Square" DisableElevation="true" Style="@($"color:{_whEffectColor};")" Size="Size.Small" />
                            </ChildContent>
                            <TooltipContent>
                                <MudPaper Class="d-flex flex-column flex-grow-1 gap-1" Elevation="0">
                                    @if (Node != null && Node.EffectDetails!=null)
                                    {
                                        foreach (var effectInfo in Node.EffectDetails)
                                        {
                                            <MudText class="ml-1 mr-1" Typo="Typo.caption">@effectInfo.Name. : @effectInfo.Value%</MudText>
                                        }
                                    }
                                </MudPaper>
                            </TooltipContent>
                        </MudTooltip>
                    }
                </CardHeaderActions>
            </MudCardHeader>

            <MudCardContent Class="d-flex pa-1 pr-2 justify-space-between">
                <div Class="d-flex justify-start">
                    @if (Node != null && Node.ConnectedUsers != null && Node.ConnectedUsers.FirstOrDefault() != null)
                    {
                        <MudTooltip Typo="Typo.caption" Arrow="true" Placement="Placement.Bottom">
                            <ChildContent>
                                <MudIcon Icon="@Icons.Material.Filled.Group" Color=Color.Default Size="Size.Small" />
                            </ChildContent>
                            <TooltipContent>
                                <MudPaper Class="d-flex flex-column flex-grow-1 gap-1" Elevation="0">
                                    @foreach (var user in @Node.ConnectedUsers)
                                    {
                                        <MudText class="ml-1 mr-1" Typo="Typo.caption">@user</MudText>
                                    }
                                </MudPaper>
                            </TooltipContent>
                        </MudTooltip>
                    }
                    else
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Group" Color=Color.Transparent Size="Size.Small" />
                    }
                    <MudText Class="align-self-stretch ml-1 mt-1" Typo="Typo.caption">@Node?.ConnectedUsers?.FirstOrDefault()</MudText>
                </div>
                <div Class="d-flex justify-end">
                    @if (Node != null && Node.Statics != null && Node?.Statics.Count() > 0)
                    {
                        @foreach (var item in Node.Statics)
                        {
                            <MudText Class="align-self-stretch mt-1 ml-1" Typo="Typo.body2" Style="@($"color:{WHColorHelper.GetSystemTypeColor(@item.EveSystemDestinationType)};")">@item.EveSystemDestinationType.ToString()</MudText>
                        }
                    }
                </div>
            </MudCardContent>
        </MudCard>
    </ActivatorContent>
    <ChildContent>
        <MudMenuItem OnClick="@(() =>SetSelectedSystemDestinationWaypoint())" Icon="@Icons.Material.Sharp.FlagCircle" Size="Size.Small">Set Destination</MudMenuItem>
        
        <MudMenuItem OnClick="@(() =>ToggleSystemLock())" Icon="@_menu_lock_icon_value" Size="Size.Small">@_menu_lock_value</MudMenuItem>
        <MudMenu FullWidth="true" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.TopRight" Dense>
            <ActivatorContent>
                <MudMenuItem Icon="@Icons.Material.Filled.GraphicEq" Size="Size.Small">System Status</MudMenuItem>
            </ActivatorContent>
                <ChildContent>
                    <MudMenuItem OnClick="@(() => SetSelectedSystemStatus(Models.Db.Enums.WHSystemStatusEnum.Unknown))">Unknown</MudMenuItem>
                    <MudMenuItem OnClick="@(() => SetSelectedSystemStatus(Models.Db.Enums.WHSystemStatusEnum.Occupied))">Occupied</MudMenuItem>
                    <MudMenuItem OnClick="@(() => SetSelectedSystemStatus(Models.Db.Enums.WHSystemStatusEnum.Hostile))">Hostile</MudMenuItem>
                    <MudMenuItem OnClick="@(() => SetSelectedSystemStatus(Models.Db.Enums.WHSystemStatusEnum.Friendly))">Friendly</MudMenuItem>
                </ChildContent>
        </MudMenu>
    </ChildContent>
</MudMenu>



