@using Blazor.Diagrams.Components.Renderers;
@using WHMapper.Models.Custom.Node;


<MudCard Outlined="true" Style="@(Node.Selected ? "border-color:white;" : "border-color:grey;")">
    <MudCardHeader Class="mb-n5">
        <CardHeaderAvatar>
            <MudAvatar Style="@($"color:{_systemColor}; background:white;")">@Node.Class</MudAvatar>
        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body2">@Node.Name</MudText>
        </CardHeaderContent>
        <CardHeaderActions>
            @if (!string.IsNullOrWhiteSpace(Node.Effect))
            {
                <MudTooltip Text="@Node.Effect" Arrow="true" Placement="Placement.Bottom">
                    <ChildContent>
                        <MudIcon Icon="@Icons.Material.Filled.Square" DisableElevation="true" Style="@($"color:{_whEffectColor};")" Size="Size.Small" />
                    </ChildContent>
                    <TooltipContent>
                        <MudPaper Class="d-flex flex-column flex-grow-1 gap-1" Elevation="0">
                            @foreach (var effectInfo in @Node?.EffectsInfos)
                            {
                                <MudText class="ma-1" Typo="Typo.caption">@effectInfo.Key : @effectInfo.Value</MudText>
                            }
                        </MudPaper>
                    </TooltipContent>
                </MudTooltip>
            }
            else
            {
                <MudIcon Icon="@Icons.Material.Filled.Square" DisableElevation="true" Style="color:transparent;" />
            }
        </CardHeaderActions>
    </MudCardHeader>

    <MudCardContent Class="d-flex pa-1 pr-2 justify-end">
        <MudText Class="align-self-stretch pr-10 pt-1" Typo="Typo.caption">@Node?.ConnectedUsers.FirstOrDefault()</MudText>
        <div Class="d-flex justify-end pr-2">
            @if (Node?.Statics != null && Node?.Statics.Count() > 0)
            {
                @foreach (var item in Node?.Statics)
                {
                    <MudText Class="align-self-stretch" Typo="Typo.body2" Style="@($"color:{WHColorHelper.GetSystemTypeColor(@item.Value)};")">@item.Value</MudText>
                }
            }
            </div> 
    </MudCardContent>
</MudCard>

@foreach (var port in Node.Ports)
{
    <PortRenderer Port="port"></PortRenderer>
}
