@page "/"

<AuthorizeView>
    <Authorizing>
        <MudText class="py-1" Typo="Typo.body2">"Authorization in progress,please wait ...")
            <MudProgressCircular Color="Color.Secondary" Size="MudBlazor.Size.Small" />
        </MudText>
    </Authorizing>
    <Authorized>
        <AuthorizeView Policy="Access" Context="accessContext">
            <Authorized>
                <WHMapper.Components.Pages.Mapper.Overview/>
            </Authorized>
            <NotAuthorized>
                @* User is authenticated but has no instance access *@
                <MudPaper Class="d-flex align-center justify-center" Height="calc(100vh - var(--mud-appbar-height) + var(--mud-appbar-height)/4);" Width="100%">
                    <MudCard Outlined="true" Class="pa-4" Style="max-width: 500px;">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Welcome to EVE WHMapper</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Typo="Typo.body1" Align="Align.Center" Class="mb-4">
                                You don't have access to any instance yet.
                            </MudText>
                            <MudText Typo="Typo.body2" Align="Align.Center" Class="mb-4">
                                To use WHMapper, you need to either:
                            </MudText>
                            <MudList T="string" Dense="true">
                                <MudListItem Icon="@Icons.Material.Filled.Add">
                                    Create your own instance for yourself, your corporation, or alliance
                                </MudListItem>
                                <MudListItem Icon="@Icons.Material.Filled.People">
                                    Ask an instance administrator to grant you access
                                </MudListItem>
                            </MudList>
                        </MudCardContent>
                        <MudCardActions Class="d-flex justify-center">
                            <MudButton Variant="Variant.Filled" Href="/register" StartIcon="@Icons.Material.Filled.AppRegistration" Style="background-color: #1976d2; color: white;">
                                Create an Instance
                            </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudPaper>
            </NotAuthorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        @if(_loading)
        {
            <MudPaper Class="d-flex align-center justify-center" Height="calc(100vh - var(--mud-appbar-height) + var(--mud-appbar-height)/4);" Width="100%">
                <MudCard Outlined="true" Style="min-width: 400px;">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">Initialization in progress</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        @if(_isWaitingForOtherInitialization)
                        {
                            <MudAlert Severity="Severity.Info" Dense="true" Class="mb-3">
                                Another user is currently initializing the application.
                            </MudAlert>
                        }
                        else
                        {
                            <MudAlert Severity="Severity.Info" Dense="true" Class="mb-3">
                                EVE Wormhole mapper is downloading and installing a new SDE package.
                            </MudAlert>
                        }
                        <MudText Align="Align.Center" Typo="Typo.body2" Class="mb-2">
                            This process may take a few moments, please wait...
                        </MudText>
                        <MudStack Row="true" Justify="Justify.Center" AlignItems="AlignItems.Center" Class="py-2">
                            <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
                        </MudStack>
                        @if(!string.IsNullOrEmpty(_init_process_msg))
                        {
                            <MudText Align="Align.Center" Typo="Typo.caption" Color="Color.Secondary">
                                @_init_process_msg
                            </MudText>
                        }
                    </MudCardContent>
                </MudCard>
            </MudPaper>
        }
        else
        {

            <div class="d-flex align-center justify-center position-relative" style="height: calc(100vh - var(--mud-appbar-height) + var(--mud-appbar-height)/4); width: 100%;">
                 <MudStack Class="d-flex flex-none position-absolute" Row="false" Spacing="5" Style="top: 25px;" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                    <MudText Typo="Typo.h4" Align="Align.Center">EVE WHMapper</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center">Map wormholes, track chains, and keep your corp connected.</MudText>
                 </MudStack>
                <MudImage Class="d-flex flex-1" Src="Images/splashscreen.png" ObjectFit="ObjectFit.Contain" Style="max-width: 100%; max-height: 100%;"/>
                <MudStack Class="d-flex flex-none position-absolute" Row="true" Spacing="2" Style="bottom: 25px;" Justify="Justify.SpaceBetween">
                    <MudTooltip Text="Documentation" Placement="Placement.Top">
                        <MudIconButton Icon="@Icons.Material.Filled.HelpOutline" Size="Size.Medium" Color="Color.Default" Href="https://pfh59.github.io/eve-whmapper-docs/" Target="_blank"/>
                    </MudTooltip>
                    <MudTooltip Text="Forum" Placement="Placement.Top">
                        <MudIconButton Icon="@Icons.Material.Filled.Forum" Size="Size.Medium" Color="Color.Default" Href="https://forums.eveonline.com/t/whmapper/421061" Target="_blank" />
                    </MudTooltip>
                    <MudTooltip Text="GitHub Repository" Placement="Placement.Top">
                        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Size="Size.Medium" Color="Color.Default" Href="https://github.com/pfh59/eve-whmapper" Target="_blank" />
                    </MudTooltip>
                </MudStack>
            </div>


        }
    </NotAuthorized>
</AuthorizeView>
